{
  "plugins": ["react-native-web/babel", "css-modules-transform", "transform-class-properties"],
  "presets": [
    "stage-2",
    "react-native",
    [
      "env",
      {
        "targets":
        {
          "node": "current",
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
}

